body {
    font-family: "Source Sans Pro", sans-serif;
}
#dataTable td,
#dataTable th {
    vertical-align: middle;
}
.nav-sidebar .nav-icon {
    vertical-align: middle;
}
.nav-sidebar .nav-link p {
    display: inline-block;
    vertical-align: middle;
}
.initials {
    width: 38px;
    height: 38px;
    font-size: 16px;
}
.card {
    border-radius: 0.85rem;
}
.img-post {
    display: block;
    width: 100%;
    max-width: 350px;
    height: auto;
    max-height: 200px;
    object-fit: cover;
    border-radius: 8px;
}
.img-user {
    display: block;
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}
@media (max-width: 768px) {
    .col-sm-6.text-right {
        text-align: left;
    }
    .col-sm-6.text-right a.btn {
        float: left;
        margin-top: 0.625rem;
        margin-right: 0.625rem;
    }
}
